<!-- <div class="ui inverted segment">
  <h3>Đèn lớn</h3>
  <button class="ui inverted button" (click)="batDenLon()">Bật</button>
  <button class="ui inverted red button" (click)="tatDenLon()">Tắt</button>
</div>
<div class="ui inverted segment">
    <h3>Đèn nhỏ</h3>
    <button class="ui inverted button"  (click)="batDenNho()">Bật</button>
    <button class="ui inverted red button"  (click)="tatDenNho()">Tắt</button>
  </div>
  <div class="ui inverted segment">
      <h3>Tất cả</h3>
      <button class="ui inverted button"  (click)="batTatCa()">Bật</button>
      <button class="ui inverted red button"  (click)="tatTatCa()">Tắt</button>
    </div> -->
